table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-elevation-z8 {
  overflow-y: scroll;
  max-height: 290px;
}

.transporter-assign-container {
  height: 100%;
}
