table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-elevation-z8 {
  overflow-y: scroll;
  max-height: 290px;
}

.transporter-assign-container {
  height: 100%;
}

.mat-chip-fro {
  margin: 20px;
  padding: 20px;
}

.show-more {
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
  font-size: 14px;
}
