<div mat-dialog-title class="header">
  <mat-icon svgIcon="highlight_off"></mat-icon>
</div>
<div mat-dialog-content>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt illo accusamus quas fuga in porro molestiae harum totam atque, quibusdam doloremque. Soluta eaque fugiat similique eligendi eum odit sequi nam?</p>
  <mat-form-field>
    <input matInput >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  cdkFocusInitial>Ok</button>
</div>
