.example-container {
   overflow: auto;
}
.header-filter {
  width: 90%;
}
.mat-row:nth-child(odd) {
  background-color: #fbfbfb;
}

.mat-table-sticky:nth-child(4) {
  border-right: 1px solid #e0e0e0;
  box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
}
tbody,
thead {
  overflow: auto;
}
.mat-column-select {
  width: 30px !important;
}

th,
td {
  min-width: 70px;
  max-width: 120px;
}

th:nth-child(1),
td:nth-child(1) {
  min-width: 50px;
}

th:nth-child(2),
td:nth-child(2) {
  min-width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
  max-width: 80px;
}

th:nth-child(4),
td:nth-child(4) {
  max-width: 90px;
  left: 181px !important;
}
.mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
}
label {
  margin-bottom: unset !important;
}
.mat-column-istrusted {
  padding-left: 10px;
}
