.list-wrapper {
  height: calc(100% - 120px);
}
.header-filter {
  width: 90%;
}
.mat-row:nth-child(odd) {
  background-color: #fbfbfb;
}

.mat-table-sticky:nth-child(4) {
  border-right: 1px solid #e0e0e0;
  box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.2);
}
.example-container {
  display: block;
  max-height: 100%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
table {
  // width: 100%;
  // max-height: 500px;
  // overflow: auto;
}
// tbody,
// thead {
//   overflow: auto;
// }
.mat-column-select {
  width: 30px !important;
}

th,
td {
  min-width: 70px;
}

th:nth-child(1),
td:nth-child(1) {
  min-width: 50px;
}

th:nth-child(2),
td:nth-child(2) {
  min-width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
  max-width: 80px;
}

th:nth-child(4),
td:nth-child(4) {
  max-width: 90px;
  left: 181px !important;
}
.mat-cell {
  text-overflow: ellipsis;
}
label {
  margin-bottom: unset !important;
}
.mat-column-istrusted {
  padding-left: 10px;
}




/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-column-expandedDetail {
  min-width: 100% !important;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
